<%= form_for(atletum) do |f| %>
  <% if atletum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(atletum.errors.count, "error") %> prohibited this atletum from being saved:</h2>

      <ul>
      <% atletum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col s6">
      <%= f.label :nome %>
      <%= f.text_field :nome %>
    </div>
    <div class="col s6">
      <%= f.label :sobrenome %>
      <%= f.text_field :sobrenome %>
    </div>
  </div>
  <div class="row">
    <div class="col s6">
      <%= f.label :data_nascimento %>
      <%= f.date_field :data_nascimento %>
    </div>
    <div class="col s6">
      <%= f.label :sexo %>
      <%= f.text_field :sexo %>
    </div>
  </div>

  <div class="row">
      <div class="col s6">
        <%= f.label :email %>
        <%= f.text_field :email %>
      </div>

      <div class="col s6">
        <%= f.label :nacionalidade %>
        <%= f.text_field :nacionalidade %>
      </div>
  </div>
  <div class="row">
    <div class="col s6">
      <%= f.label :professor%>
    <select name="atletum[professors_id]">
      <%Professor.all.each do |p|%>
      <option value="<%=p.id%>" <%="selected" if @atletum.professors_id==p.id && request.fullpath !="/atleta/new"%>><%=p.nome%></option>
      <%end%>
    </select>
    </div>
    <div class="col s6">
      <%= f.label :modalidade %>
      <select name="atletum[modalidades_id]">
        <%Modalidade.all.each do |m|%>
        <option value="<%=m.id%>" <%="selected" if @atletum.modalidades_id==m.id && request.fullpath !="/atleta/new"%>><%=m.nome%></option>
        <%end%>
      </select>
    </div>
    </div>
  <div class="row">
    <div class="col s6">
      <%= f.submit "Salvar", :class=> "btn" %>
    </div>
  </div>
<% end %>
