<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @atletum.nome %>
</p>

<p>
  <strong>Sobrenome:</strong>
  <%= @atletum.sobrenome %>
</p>

<p>
  <strong>Data nascimento:</strong>
  <%= @atletum.data_nascimento %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @atletum.sexo %>
</p>

<p>
  <strong>Email:</strong>
  <%= @atletum.email %>
</p>

<p>
  <strong>Nacionalidade:</strong>
  <%= @atletum.nacionalidade %>
</p>

<%= link_to 'Edit', edit_atletum_path(@atletum) %> |
<%= link_to 'Back', atleta_path %>
