<style>

</style>
<script type="text/javascript">
  $('title').text('Blog - AMIF');
</script>
<nav>
  <div class="nav-wrapper" >
    <a href="#" data-tap-disabled="true" class="brand-logo center">Artes Marciais no IFCE - AMIF<br><small style="font-size:10px !important;margin-top:-40px !important;position:absolute;margin-left:-100px !important">Paraguassu Cavalcante - Coordenador do Projeto</small></a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="#inicio" class="anchor"><%=@frontPanel[0].titulo%></a></li>
      <li><a href="#galeria" class="anchor">Galeria</a></li>
      <li><a href="#page3" class="anchor"><%=@frontPanel[1].titulo%></a></li>
      <li><a href="#page4" class="anchor"><%=@frontPanel[2].titulo%></a></li>
      <li><a href="#page5" class="anchor"><%=@frontPanel[3].titulo%></a></li>
    </ul>
  </div>
</nav>

<div class="parallax-container" id="inicio">
  <div class="parallax parallax-opacity"><img src="/assets/images/background-default.jpg"></div>
  <div class="center black-text parallax-min container left">
           <h1 name="inicio"><%=@frontPanel[0].titulo%></h1>
           <p align="justify" ><%=@frontPanel[0].conteudo.html_safe%></p>
    </div>
</div>
<div class="parallax-container" id="galeria">
  <div class="parallax white"></div>
  <div class="center black-text">
    <h1>Galeria</h1>
    <%if @galery.length>0%>
    <div class="carousel slider carousel-slider container">
      <%@galery.each do |g|%>
      <a class="carousel-item" ><img class="img" src="<%=g.imagem.url%>" ></a>
      <%end%>
    </div>
    <%end%>
  </div>
</div>
<div class="parallax-container" id="page3">
  <div class="parallax green lighten-5"></div>
  <div class="center black-text">
    <h1><%=@frontPanel[1].titulo%></h1>
      <div class="row">
        <div class="push-l2 col l8">

          <p class="article"><%=@frontPanel[1].conteudo.html_safe%></p>
        </div>
      </div>
  </div>
</div>
<div class="parallax-container" id="page4">
  <div class="parallax green lighten-5"></div>
  <div class="center black-text">
    <h1><%=@frontPanel[2].titulo%></h1>
    <div class="row">
      <div class="push-l2 col l8">
        <p align="justify" ><%=@frontPanel[2].conteudo.html_safe%></p>
      </div>
    </div>
  </div>
</div>
<div class="parallax-container" id="page5">
  <div class="parallax green lighten-5"></div>
  <div class="center black-text">
    <h1><%=@frontPanel[3].titulo%></h1>
    <p align="justify" ><%=@frontPanel[3].conteudo.html_safe%></p>
  </div>
</div>
<div class="fixed-action-btn vertical" id="upToHome" style="display:none">
  <a href="#inicio" class="btn-floating btn-large waves-effect waves-light blue anchor right"><i class="material-icons">arrow_upward</i></a>
</div>
