<script type="text/javascript">

function save_front_panel_content(id,titulo=null,conteudo=null){
  token = $('input[name="authenticity_token"]').val();
  if(titulo != null && id != null){

    $.ajax({
      method: "POST",
      url:"/saveFrontPanel/"+id,
      data:{
        "authenticity_token":token,
        "frontPanel[titulo]":titulo
      },
      beforeSend:function(e){

      },
      complete:function(e){

      },
      success:function(e){
        Materialize.toast(e.message,4000);
      },
      error:function(e){
        Materialize.toast(e.message,4000);
      }
    });
  }
  if(conteudo != null){
    $.ajax({
      method: "POST",
      url:"/saveFrontPanel/"+id,
      data:{
        "authenticity_token":token,
        "frontPanel[conteudo]":conteudo
      },
      beforeSend:function(e){

      },
      complete:function(e){

      },
      success:function(e){
        Materialize.toast(e.message,4000);
      },
      error:function(e){
        Materialize.toast(e.message,4000);
      }
    });

  }
}

 $(function(){
   <%
   #gerando de 1 a quatro para desenhar o js das divs
      (1..4).each do |n|
   %>
   //seção <%=n%>
   $('#titulo<%=n%>').dblclick(function(){
     $(this).attr("contentEditable","true");
   });
   $('#titulo<%=n%>').focusout(function(){
     $(this).removeAttr("contentEditable");
     //script to save her
     save_front_panel_content($('#id<%=n%>').val(),$('#titulo<%=n%>').text(),null);
   });
   $('#conteudo<%=n%>').dblclick(function(){
     $(this).attr("contentEditable","true");
   });
   $("#conteudo<%=n%>").keydown(function(e) {
    if (e.keyCode == 13) {
      console.log('apertou enter');
      document.execCommand('insertHTML', false, '<br><br>');
      return false;
    }
  });
   $('#conteudo<%=n%>').focusout(function(){
     $(this).removeAttr("contentEditable");
     console.log($('#conteudo<%=n%>')[0].outerHTML);
     save_front_panel_content($('#id<%=n%>').val(),null,$('#conteudo<%=n%>').html());
   });
   <%
     end
   %>
 });
</script>
<%= form_for :frontPanel do |f|%>
<div class="container">
  <div class="row">
    <div class="col s8" >
      <h5 id="titulo1"><%=@frontPanel[0].titulo%></h5>
      <input type="hidden" id="id1" value="<%=@frontPanel[0].id%>">
      <div align="justify" id="conteudo1" style="padding:8px;cursor:pointer">
        <%=@frontPanel[0].conteudo.html_safe%>
      </div>
    </div>
    <div class="col s4">
      <h5>Galeria</h5>
      <p align="justify">
        <%= "Não imagens a serem exibidas no momento" if @galery.count==0%>
        <%if @galery.count>0%>
        <div class="carousel">
          <%@galery.each do |g|%>
          <a class="carousel-item" href="/galeries"><img src="<%=g.imagem.url(:medium)%>"></a>
          <%end%>
        </div>
        <%end%>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col s4">
      <h5 id="titulo2"><%=@frontPanel[1].titulo%></h5>
      <input type="hidden" id="id2" value="<%=@frontPanel[1].id%>">
      <div id="conteudo2" align="justify">
        <%=(@frontPanel[1].conteudo).html_safe.gsub(/\n/, '<br>')%>
      </div>
    </div>
    <div class="col s4">
      <h5 id="titulo3"><%=@frontPanel[2].titulo%></h5>
      <input type="hidden" id="id3" value="<%=@frontPanel[2].id%>">
      <div id="conteudo3" align="justify">
        <%=@frontPanel[2].conteudo%>
      </div>
    </div>
    <div class="col s4">
      <h5 id="titulo4"><%=@frontPanel[3].titulo%></h5>
      <input type="hidden" id="id4" value="<%=@frontPanel[3].id%>">
      <div id="conteudo4" align="justify">
        <%=@frontPanel[3].conteudo%>
      </div>
    </div>
  </div>
</div>
<%end%>
