<div class="bgProfessor">
    <%= form_for(professor) do |f| %>
      <% if professor.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(professor.errors.count, "error") %> prohibited this professor from being saved:</h2>

          <ul>
          <% professor.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="row">
        <div class="col s6">
          <%= f.label :nome %>
          <%= f.text_field :nome %>
        </div>

        <div class="col s6">
          <%= f.label :sobrenome %>
          <%= f.text_field :sobrenome %>
        </div>
      </div>
      <div class="row">
        <div class="col s4">
          <%= f.label :modalidade %>
            <select name="professor[modalidades_id]" id="select_modal">
              <%@modalidade.each do |m|%>
              <option value="<%=m.id%>" <%="selected" if @professor.modalidades_id == m.id%>> <%=m.nome%></option>
              <%end%>
            </select>
        </div>

        <div class="col s4">
          <%= f.label :graduacao %>
          <%= f.text_field :graduacao %>
        </div>
        <div class="col s4">
          <%=f.label :users, 'Associado ao usuário', class:'red white-text '%>
          <select name="professor[users_id]" id="select_user">
            <%@users.each do |user|%>
            <option value="<%=user.id%>" <%="selected" if @professor.users_id == user.id%>><%=user.nome%></option>
            <%end%>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col s6">

          <%= f.submit "Salvar", class: "btn waves waves-effect" %>
        </div>
      </div>
    <% end %>
</div>
