<div class="container">
<%= form_for(modalidade) do |f| %>
  <% if modalidade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(modalidade.errors.count, "error") %> prohibited this modalidade from being saved:</h2>

      <ul>
      <% modalidade.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col s4">
    <%= f.label :nome %>
    <%= f.text_field :nome %>
  </div>
  <div class="col s4">
    <div class="file-field input-field">
      <div class="btn">
        <span>Anexar foto</span>
        <%=f.file_field :imagem%>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s4">
    <%= f.submit "Salvar",class:"btn waves waves-effect"%>
  </div>
</div>
</div>
<% end %>
