<div class="container login">
<div class="row">
  <div class="col s12 l6 m6 lanimated tadax" style="xborder: 1px solid black">
    <picture><img src="/assets/images/logo.jpg" alt="" class="logo-login"></picture>
  </div>
  <div class="col s12 l6 m6" style="xborder: 1px solid black">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="row">
        <div class="col s12 m12">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m12">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m12">
          <button type="submit" name="button" class="btn waves-effect waves-light">
            Acessar <i class="material-icons left">lock</i>
          </button>
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>
<br>
<footer class="page-footer green">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Artes Marciais do IFCE</h5>
        <p class="grey-text text-lighten-4">Sistema de controle desenvolvido pela Coordenadoria de Tecnologia da Informação.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="/blog">Blog</a></li>
          <li><a class="grey-text text-lighten-3">&nbsp;</a></li>
          <li><a class="grey-text text-lighten-3">&nbsp;</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © <%= Time.current.year %> Todos os direitos reservados.
    <a class="grey-text text-lighten-4 right" href="#!">Desenvolvedor responsável: Alcides Junior</a>
    </div>
  </div>
</footer>
